ul{
    list-style: none;
}

.wrapper{
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header{

    background: radial-gradient(51.38% 150.28% at 50% 50%, #104D82 0%, #234161 100%);
    grid-area: header;
    padding-top: 10px;
}

.header-top{
    display: grid;
    color:aliceblue;
    grid-template: 1fr / minmax( auto, 150px) 1fr minmax(auto,600px) 1fr minmax( auto, 150px) ;
}
.left{
    grid-column: 1/2;
    text-align: center;
}
.center{
    width: Hug (750px);
    height: Hug (236.33px);
    top: 23px;
    left: 225px;
    gap: 10px;
    align-items: center;
    font-size: 36px;
    grid-column: 3/4;
}
.center-img{
    text-align: center;
}
.center-title{
    font-family: Proba Pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.03em;
    text-align: center;

}
.right{
    grid-column: 5/6;
    text-align: center;
}

.list{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    
}

.nav-link{
    color:aliceblue;
}
.main{
    grid-area: main;
    display: grid;
    
    grid-template: 1fr / minmax( auto, 600px)  minmax(auto,1200px) ;

}
.left-sidebar{
    padding: 10px;
}
.right-sidebar{
    display: grid;
    grid-template: 1fr / minmax( auto, 600px)  minmax(auto,600px) ;
    padding: 10px;
}

.events{
    padding: 10px;
}
.videosujets{
    padding: 10px;
}
.announcements{
    padding: 10px;
}
.announcement{
    padding-bottom: 15px;

}
.announcements-title {
    color: #2D5CA6;
    font-family: Proba Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.announcements-date{
    color: #6D727C;
    font-family: Proba Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}
.news{
    padding: 10px;
}
.new{
    padding-bottom: 15px;
}
.news-title {
    color: #2D5CA6;
    font-family: Proba Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.news-date{
    color: #6D727C;
    font-family: Proba Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}

.events{
    padding: 10px;
}
.event{
    padding-bottom: 15px;
}
.events-title{
    color: #2D5CA6;
    font-family: Proba Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.events-date{
    color: #6D727C;
    font-family: Proba Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.videosujets{
    padding: 10px;
}
.videosujet{
    padding-left: 15px;
}
.videosujets-title{
    color: #2D5CA6;
    font-family: Proba Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.videosujets-date{
    color: #6D727C;
    font-family: Proba Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.link-top{
    display: grid;
    grid-template: 1fr / minmax(auto,1200px) minmax(auto,1200px) minmax( auto, 1200px) ;
}
.link-left{
    padding: 15px;
    
}
.link-right{
    padding-top: 40px;
    text-align: center;
}
.link-item{

    display: grid;
    grid-auto-flow: column;
}
.maps{
    padding: 15px;
    display: grid;
    grid-auto-flow: column;
}
.footer{
    grid-area: footer;
    background: #f4f4f4;
    display: grid;
    grid-template: 1fr / minmax(auto,1000px) 1fr minmax( auto, 150px) ;
    padding: 10px;

    
}
.footer-left{
    font-family: Proba Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.footer-center{
    
    text-align: center;
    padding-top: 20px;
}

